aiofiles
annotated-types
anyio
awscli
backports.tarfile
boto3
botocore
certifi
charset-normalizer
click
colorama
coloredlogs
contourpy
cycler
distro
docker
docker-pycreds
docutils
exceptiongroup
fastapi
ffmpy
filelock
flatbuffers
fonttools
fsspec
gradio
gradio_client
h11
httpcore
httpx
huggingface-hub
humanfriendly
idna
importlib_resources
jaraco.classes
jaraco.context
Jinja2
jiter
jmespath
keyring
keyrings.alt
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
more-itertools
mpmath
networkx
numpy
onnx
onnxruntime
openai
opencv-python
orjson
packaging
pandas
pillow
protobuf
psutil
py-cpuinfo
pyasn1
pydantic
pydantic_core
pydub
Pygments
pyparsing
python-dateutil
python-multipart
pytz
PyYAML
requests
rich
rsa
ruamel.yaml
ruamel.yaml.clib
ruff
s3transfer
scipy
seaborn
semantic-version
shellingham
six
sniffio
starlette
sympy
tabulate
tomlkit
torch
torchvision
tqdm
typer
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
voluptuous
websocket-client
websockets
yolo
zipp
